@using Maxim.Areas.Manage.Models.Services;
@model CreateServiceVm

<div class="col-lg-8  stretch-card" style="margin:auto; margin-top:20px">
    <div class="card">
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3" style="margin-bottom:20px;">
                    <label asp-for="Icon" class="form-label">Icon</label>
                    <input asp-for="Icon" type="text" placeholder="For Example: icon-box icon-box-pink" class="form-control">
                    <span asp-validation-for="Icon" style="color:red"></span>
                </div>
                <div class="mb-3" style="margin-bottom:20px;">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" type="text" placeholder="Title" class="form-control">
                    <span asp-validation-for="Title" style="color:red"></span>
                </div>
                <div class="mb-8 d-flex" style="box-sizing:border-box">
                    <div class="mb-6" style="margin-bottom:10px;max-width:510px;">
                        <label asp-for="Description" class="form-label">Description</label>
                        <textarea asp-for="Description" type="text" placeholder="Desctiption" class="form-control" style="width:500px;height:150px;">
                        </textarea>
                        <span asp-validation-for="Description" style="color:red"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger" style="margin-top:20px;margin-left:20px;right:0;"></div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


</div>